<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <div id="container">
        <h1>Home Page</h1>
        <br><br>
        <hr>
        <br><br>

        <button onclick="window.location.href='http://localhost:3000/form';">Press here FOR form</button>
        <button onclick="window.location.href='http://localhost:3000/show';">Press here TO show</button>
   </div>
      
</body>
</html>